<?xml version = "1.0" encoding = "UTF-8"?>
<!-- https://www.tutorialspoint.com/spring_boot/spring_boot_logging.htm -->
<configuration>
    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

    <appender name = "FILE" class = "ch.qos.logback.core.FileAppender">
        <File>./log.txt</File>
        <encoder>
            <pattern>[%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "STDOUT"/>
        <appender-ref ref = "FILE"/>
    </root>
</configuration>